aiofiles
aiohttp
asyncio
chardet
colorama
concurrent.futures
datetime
discord
discord.ext
discord.utils
discord_buttons_plugin
io
json
logging
os
pathlib
phonenumbers
platform
pyfiglet
pystyle
pythonping
random
re
requests
socket
subprocess
tempfile
whois
